p img{
    width : 60%;
}

p{
    font-size: 120%;

}
html{
    scroll-behavior: smooth;
    scroll-margin-top: 150px;
}

img{
    width : 40%;
}

.carousel-item{
    height: 30vw;
    overflow:hidden;
}

.carousel-control-prev, .carousel-control-next {
    color: black !important;
  }
.titre{
    font-size: 600%;
}

.avant{
    color:#ffc107;
}