p img{
    width : 60%;
}

p{
    font-size: 120%;

}

img{
    width : 40%;
}

.carousel-item{
    height: 30vw;
    overflow:hidden;
}

.carousel-control-prev, .carousel-control-next {
    color: black !important;
  }
.titre{
    font-size: 600%;
}

.avant{
    color:#224bc7;
}